* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 1rem;

}

a {
    color: white;
    text-decoration: none;
}
a:hover{
    /*tiffany blue*/
    color:#81D8D0; 
    text-decoration: #81D8D0;
}

p { 
    width: 50%;
    font-weight: 18px;

}

html { 
  background: url(../img/desktop.jpg) no-repeat center top;
  background-size: 100% 650px;
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    /*color: #127F7B;*/
}

.work > h1 {
    color:#81D8D0; 
}
 
header {
    /*margin-right: auto;
    margin-left: auto;*/
    min-width: 320px;
    width: 100%;
    margin-bottom: 200px;
}

h1, 
h2, 
p {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
}

.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black; 
    opacity: .5;
    display: flex;
}

.main-nav > ul{
width: 100%;
padding-top: 30px;
padding-bottom: 15px;
}

.about-me > h1 {
    color:#81D8D0; 
    font-size: 40px;
    padding-bottom: 40px;
}

.tech-stack > h1 {
    color:#81D8D0;
    padding-bottom: 40px; 
}
.img-section {
    padding-top: 200px;
    padding-left: 70px;

}
.avi_image {
    height: 150px;
    width: 200px;
    border-radius: 60%;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

/*______Project Grid Layout_______*/

.responsive-image {
    max-width: 100%;
}

.cell img {
    display: block;
    padding-bottom: 20px;
}
/*================tablet view==========*/
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}
/*================Desktop view==========*/
@media screen and (min-width: 1000px) {
  .cell {
    width: 50%;
  }
}




/*_________Contact Me___________*/
#contact{
    text-align: center;
}