html { 
  background: url(../img/desktop.jpg) no-repeat center top;
  background-size: 100% 650px;
}

* {
    box-sizing: border-box;
    margin: 0 auto;
}


body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    /*background-color: #81D8D0;*/
    color: #81D8D0;
    /*color: #127F7B;*/
    font-style: "semi-bold"; 
}

a {
    color: #81D8D0;
    text-decoration: none;
}
.cell-source-code > a {
    color:#B25123; 
}
p {
    font-weight: 24px;
    color: lightgray;
}

p2,
.cell-title {
    color:#B25123; 
    margin-top: 15px;
    width: 60%;
    font-size: 18px;
}

.main-nav a:hover {
    /*tiffany blue*/
    color:#B25123; 
    text-decoration: underline;
    /*border-bottom: 2px #81D8D0;*/
}

header {
    min-width: 320px;
    width: 100%;
    margin-bottom: 200px;
}

h1, 
h2,
h3, 
p {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    font-size: 18px;
}

.main-nav {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black; 
    opacity: .7;
    display: flex;
}

.main-nav > ul{
width: 100%;
padding-top: 30px;
padding-bottom: 15px;
}

.about-me > h1 {
    color:#81D8D0; 
    font-size: 55px;
    font-style: "Black";
    padding-bottom: 20px;
}
.about-me > p {
    line-height: 170%;
}

.tech-stack > ul{
    /*background: #81D8D0;*/
    opacity: .7;
    width: 50%;
    /*margin-top: 20px;*/
    margin-bottom: 25px;
    color: #81D8D0; 
}
.tech-stack > li {
    display: inline-flex;
}

.tech-stack > h1 {
    padding-bottom: 40px;
}

.tech-stack > h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    color:#B25123;

}

.work > h1,
.contact > h2,
.contact > h3,
.tech-stack > h1,  {
    color:#81D8D0; 
}
.contact > h2,
.contact > h3 {
    font-weight: normal;
    line-height: 170%;
    /*font-style: 'Semi-Bold';*/
}

.contact {
    background: #B25123;

    padding-top: 20px;
    padding-bottom: 20px;
}

.submitbtn-box {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 20%;
}

.submitbtn {
    height: 50px;
    border: 4px solid #81D8D0;
    background: #81D8D0;
    border-radius: 8%;
    color: #B25123;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

button {
    border: 4px solid #81D8D0;
    border-radius: 8%;
    background: #81D8D0;
    color: #B25123;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.avi_image {
    height: 200px;
    width: 200px;
    border-radius: 60%;
    margin-bottom: 10px; 
}

.grow { 
    transition: all .2s ease-in-out; 
    }

.grow:hover { 
    transform: scale(1.1); 
    }


/*______Project Grid Layout_______*/

.responsive-image {
    max-width: 100%;
}

.cell  {
    z-index: 5;
    padding-bottom: 50px;
}

.container {
    text-align: center;
}
.cell img,
.cell-title,
.cell-desc,
.cell-source-code {
    display: block;
}

.cell-title {
    font-weight: bolder;
}
.cell-desc {
    line-height: 170%
}

/*_________Contact Me___________*/
.contact{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

i {
    margin-right: 15px;
}


/*===Mobile view===*/
@media screen and (min-width: 320px) {
  .cell {
      width: 100%;
  }

  p { 
    width: 90%;
    }

.img-section {
    padding-top: 200px;
    padding-left: 65px;
    }

.submitbtn-box {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 35%;
    }

.tech-stack img {
    width: 100%;
    }
}

/*===tablet view===*/
@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
  .img-section {
    padding-top: 200px;
    padding-left: 25px;
    }
    .tech-stack img {
    width: 90%;
    }

}

/*===Desktop view===*/
@media screen and (min-width: 1000px) {
  .cell {
    width: 50%;
  }

  p { 
    width: 50%;
    }
    
  .img-section {
    padding-top: 200px;
    padding-left: 50px;
    }
.tech-stack img {
    width: 85%;
    }
}



